@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=Barlow:wght@300&display=swap');

:root {

  /* Browser font-size */

  font-size: 16px;


  /* Color pallete */

  --pb-shade-02: #000081;
  --pb-shade-01: #0000B2;
  --pentablue: #0000FF;
  --py-tone-01: #ECE000;
  --pentayellow: #FFF200;
  --white: #FFFFFF;
  --black: #000000;
  --grey-01: #141414;
  --grey-03: #939598;
  --grey-04: #CBCBCB;
  --grey-05: #E6E7E8; 
}

* {
  margin: 0;
  box-sizing: border-box;
}


/* Character styles for different screen resolutions on desktop - START*/


/* 2560px width */

@media screen and (min-width: 2560px) {

  .title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 10.64rem;
    line-height: 1.04em;
  }

  .heading-01 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    line-height: 1.33rem;
  }

  .heading-02 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 5.32rem;
    line-height: 1.13em;
  }

  .heading-03 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 4.65rem;
    line-height: 1.29em;
  }

  .heading-04 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.33em;
  }

  .body-01 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 2.66rem;
    line-height: 1.38em;
  }

  .body-02 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 2.33rem;
    line-height: 1.5em;
  }

  .body-03 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5em;
  }

  .body-04 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.66rem;
    line-height: 1.6em;
  }

  .body-05 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.33em;
  }
}


/* 1920px width */

@media screen and (max-width: 1920px) {

  .title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1.04em;
  }

  .heading-01 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 1.33rem;
  }

  .heading-02 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.13em;
  }

  .heading-03 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29em;
  }

  .heading-04 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.33em;
  }

  .body-01 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.38em;
  }

  .body-02 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 1.5em;
  }

  .body-03 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5em;
  }

  .body-04 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.6em;
  }

  .body-05 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.33em;
  }
}


/* 1366px width */

@media screen and (max-width: 1366px) {

  .title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 5.68rem;
    line-height: 1.04em;
  }

  .heading-01 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 3.19rem;
    line-height: 1.33rem;
  }

  .heading-02 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.84rem;
    line-height: 1.13em;
  }

  .heading-03 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.48rem;
    line-height: 1.29em;
  }

  .heading-04 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.13rem;
    line-height: 1.33em;
  }

  .body-01 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.42rem;
    line-height: 1.38em;
  }

  .body-02 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.24rem;
    line-height: 1.5em;
  }

  .body-03 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.06rem;
    line-height: 1.5em;
  }

  .body-04 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 0.89rem;
    line-height: 1.6em;
  }

  .body-05 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 0.80rem;
    line-height: 1.33em;
  }
}


/* 1280px width */

@media screen and (max-width: 1280px) {

  .title {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 5.36rem;
    line-height: 1.04em;
  }

  .heading-01 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 3.01rem;
    line-height: 1.33rem;
  }

  .heading-02 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.68rem;
    line-height: 1.13em;
  }

  .heading-03 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.34rem;
    line-height: 1.29em;
  }

  .heading-04 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 2.01rem;
    line-height: 1.33em;
  }

  .body-01 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.34rem;
    line-height: 1.38em;
  }

  .body-02 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.17rem;
    line-height: 1.5em;
  }

  .body-03 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5em;
  }

  .body-04 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 0.84rem;
    line-height: 1.6em;
  }

  .body-05 {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.33em;
  }
}

/* Character styles for different screen resolutions on desktop - END*/

/* Page styling for desktop devices - START */

@media screen and (max-width: 1920px) {
  
  /* Reusable elements styling - START */

  /* Styling for header navigation - START */

  .topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 4.7vw;
    padding: 0 8.33vw;
  }

  #logo {
    width: 7vw;
    height: auto;
  }

  .navList-top .list-item {
    position: relative;
    padding: 1.6em 2.2em;
    text-decoration: none;
    color: var(--white);
  }

  #none-stick {
    position: absolute;
    background-color: none;
  }

  #none-stick .list-item:hover {
    color: var(--pentayellow);
  }

  #none-stick .list-item.active::after{
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--pentayellow);
  }

  #sticky-01 {
    position: fixed;
    top: 0;
    background-color: var(--white);
    z-index: 1;
    display: none;
  }

  #sticky-02 {
    position: fixed;
    top: 0;
    background-color: var(--white);
    z-index: 1;
    /* display: none; */
  }

  #sticky-01 .list-item, #sticky-02 .list-item {
    text-decoration: none;
    color: var(--black);
  }

  #sticky-01 .list-item:hover, #sticky-02 .list-item:hover {
    color: var(--pentablue);
  }

  #sticky-01 .list-item.active::after, #sticky-02 .list-item.active::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: var(--pentablue);
  }

  #nav-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .nav-button {
    padding: 0.6em 1.2em;
  }

  /* Styling for header navigation - END */


  /* Footer styling - START */

  /* Styling for footer navigation - START */
  
  .navList-bottom {
    margin-bottom: 5vw;
    height: 4.4vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: space-between;
  }

  .navList-bottom .list-item {
    color: var(--white);
    text-decoration: none;
    margin-left: 3.33vw;
  }

  .navList-bottom .list-item:hover {
    color: var(--pentayellow);
  }

  .navList-bottom .list-item.active {
    color: var(--pentayellow);
  }

  /* Styling for footer navigation - END */

  #content-block-03 {
    grid-column: 1/7;
    grid-row: 1/13;
    background: url(/Resources/Vectors/Artwork-footer.svg) no-repeat left bottom/76.3vh 76.3vh, var(--pb-shade-01);
    padding: 25vh 8.3vw 25vh 16.67vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #content-block-03 .heading-02, #content-block-03 .body-03 {
    color: var(--white);
  }

  #f-copy {
    padding-right: 3.7vw;
  }

  #content-block-03 .inPage-button {
    justify-self: flex-start;
    align-self: flex-start;
    padding: 0.57em 1.14em;
  }

  #social-block .body-03 {
    margin-bottom: 0.6vw;
  }

  .social-icon {
    width: 2.9vw;
    height: auto;
    margin: 0 0.6vw 0 0;
  }

  #content-block-04 {
    grid-column: 7/13;
    grid-row: 1/13;
    background-color: var(--pentablue);
    padding: 25vh 16.67vw 16.67vh 8.33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    text-align: right;
    color: var(--white);
  }

  #content-block-04 .disclaimer::after {
    content: 'BN - 4235678';
    color: var(--pentayellow);
    font-weight: 600;
  }

  /* Footer styling - END */

  /* Reusable elements styling - END */




  /* Home page styling - START*/

  body {
    overflow-x: hidden;
  }

  #hero, #af-01, #af-02, footer {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    gap: 0 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
  }


  /* Hero section styling - START */

  #hero {
    background: url("/Resources/Vectors/Artwork-hero.svg") no-repeat right bottom/75vh 75vh, linear-gradient(222deg, var(--pentablue), var(--pb-shade-02));
  }

  #hero .title {
    grid-column: 3/8;
    grid-row: 4/8;
    color: var(--white);
  }

  #hero .body-01 {
    grid-column: 3/8;
    grid-row: 8/10;
    color: var(--white);
  }

  button {
    background-color: var(--pentayellow);
    border: none;
    display: inline-block;
    cursor: pointer;
  }

  #hero .inPage-button {
    grid-column: 3/8;
    grid-row: 10/11;
    margin-top: 1rem;
    padding: 0.57em 1.14em;
    text-align: left;
    justify-self: start;
    align-self: end;
  }

  #scroll-indicator {
    grid-column: 6/8;
    grid-row: 11/13;
    justify-self: center;
    align-self: center;
    width: 2.9vw;
    height: auto;
  }

  /* Hero section styling - END */


  /* After the fold section 01 styling - START */

  #af-01 {
    background: url(/Resources/Vectors/Artwork-s2.svg) no-repeat top left/auto 100%, var(--black);
  }
  
  #content-block-01 {
    grid-column: 5/11;
    grid-row: 3/10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.3vw 3.7vw;
    background-color: var(--grey-01);
  }

  #af-01 .heading-02 {
    color: var(--pentayellow);
    align-self: start;
  }

  #af-01 .body-02, #af-01 .text-link {
    color: var(--white);
  }

  #af-01 .text-link {
    text-decoration: none;
  }

  #af-01 .text-link:hover {
    text-decoration: underline;
    color: var(--pentayellow);
  }
  
  /* After the fold section 01 styling - END */

  
  /* After the fold section 02 styling - START */

  #af-02 {
    background-color: var(--grey-01);
  }

  #af-02 .heading-02 {
    grid-column: 3/11;
    grid-row: 3/4;
    color: var(--white);
  }

  #content-block-02 {
    grid-column: 3/11;
    grid-row: 5/13;
    display: flex;
    justify-content: space-between;
  }

  .card-small {
    display: flex;
    width: 22vw;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4.6vw 2.5vw;
  }

  #search {
    background-color: var(--pentablue);
    color: var(--white);
  }

  #strategy {
    background-color: var(--black);
    color: var(--white);
  }

  #design {
    background-color: var(--pentayellow);
    color: var(--black);
  }

  .desc-icon {
    width: 4.5vw;
    height: auto;
    margin-bottom: 1.67vw;
  }

  .card-small .heading-04 {
    margin-bottom: 1.45vw;
  }

  .card-small .body-03 {
    opacity: 0.8;
  }

  /* After the fold section 02 styling - END */

  /* Home page styling - END*/



  /* Who we are page styling - START */

  /* Body styling - START */

  /* body {
    height: 100%;
  } */

  body #lines {
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: -4;
  }

  .line {
    background-color: var(--pentayellow);
    opacity: 0.25;
    width: 1px;
    height: 100%;
    position: absolute;
  }

  #line-01 {
    margin-left: 8.33vw;
  }

  #line-02 {
    margin-left: 41.67vw;
  }

  #line-03 {
    margin-left: 66.67vw;
  }

  #line-04 {
    margin-left: 77.08vw;
  }

  #line-05 {
    margin-left: 83.33vw;
  }

  #line-06 {
    margin-left: 85.42vw;
  }

  /* Body styling - END */

  /* Section 01 - START */

  #who-sect-01 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 24.99vh 20.83vw 16.67vh 20.83vw;
    height: 91.67vh;
  }

  #who-sect-01 .heading-01 {
    color: var(--pb-shade-01);
  }

  .body-02 a {
    text-decoration: none;
    color: var(--pentablue);
  }

  .body-02 a:hover {
    text-decoration: underline;
  }

  /* Section 01 - END */

  /* Section 02 - START */

  #who-sect-02 {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  #who-sect-02 .heading-03 {
    padding-bottom: 2.92vw;
  }

  #mission {
    width: 50vw;
    height: 100%;
    padding: 8.33vh 8.33vw 8.33vh 16.67vw;
    background-color: var(--pentablue);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    color: var(--white);
  }

  #vision {
    width: 50vw;
    height: 100%;
    padding: 8.33vh 16.67vw 8.33vh 8.33vw;
    background-color: var(--grey-05);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    color: var(--black);
  }

  /* Section 02 - END */

  /* Section 03 - START */

  #who-sect-03 {
    width: 100vw;
    /* height: 60.93vw; */
    height: auto;
    /* background-color: var(--white); */
    padding: 9.37vw 16.67vw;
    display: flex;
    flex-flow: column nowrap;
  }

  #who-sect-03 .heading-02 {
    padding-bottom: 8.33vh;
  }

  #team {
    display: flex;
    justify-content: space-between;
  }

  .teammate img {
    width: 20.68vw;
    height: 25.88vw;
  }

  #combination {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  #combination .heading-04 {
    margin-right: 0.63vw;
  }

  .teammate .body-05, .qualTitle {
    color: var(--grey-03);
  }

  /* Section 03 - END */

  /* Who we are page styling - END */
}

